body {
  background-color: #369369;
}

header {
  background-image: url(../images/hand-opening-paper-with-tea.jpeg);
  background-position: cover;
  background-size: cover;
  height: 8%;
}
.nav-list-items li{
  list-style: none;
  float: right;
  display: inline-block;
  text-decoration: none;
  padding: 10px;

}

.logo-name-button {
  display: flex;
  justify-content: center;
}
main {
  display: grid;
  grid-template-columns: 1fr;
  background: grey;
  width: 80%;
  margin: 0 auto;
}

.ingredients-descriptions {
  background: red;
}

.ingredients-images img {
  border-radius: 50%;
}


.logo-name-button button {
  background-color: purple;
  color: yellow;
}

#fixed-nav-bar {
  background-color: cyan;
}
#fixed-nav-bar::after {
  content: '';
  display: table;
  clear: both;
}

[id^="section-"] {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
























